<!--front_camera.launch-->
<launch>
  <!--node
    type="distance_publisher.py"
    pkg="corrosion_robot"
    name="front_distance"
    /-->
  <!--node
    type="distance_publisher.py"
    pkg="corrosion_robot"
    name="front_site_distance"
    /-->
  <node
    type="image_publisher_test.py"
    pkg="corrosion_robot"
    name="front_view"
    />
</launch>
