<!--front_camera.launch-->
<launch>
  <node
    type="distance_publisher.py"
    pkg="corrosion_robot"
    name="rear_distance"
    />
  <node
    type="distance_publisher.py"
    pkg="corrosion_robot"
    name="rear_site_distance"
    />
  <node
    type="image_publisher_test.py"
    pkg="corrosion_robot"
    name="rear_view"
    />
</launch>
